################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WishList/.vs/WishList/v16
/WishList/obj
